<% if @user %>
  <h4>Here's <%= @user.username %>'s timeline:</h4>
  <%= render partial: 'user_option' %>
<% end %>

<hr>

<div class="row content">
  <div class="col-md-8">
    Post
  </div>
  <div class="col-md-4">
    User
  </div>
</div>
<%= render partial: @posts, locals: {user: @user} %>
<%= render partial: 'user_pages', locals: {user: @user} %>
