<h4>Here's your search results:</h4>

<div class="row content">
  <div class="col-md-8">
    Post
  </div>
  <div class="col-md-2">
    User
  </div>
</div>
<%= render partial: @posts, locals: {user: @user} %>
